/* File styles.css */
body {
  background-color: #f8f9fa;
}

h2 {
  margin-bottom: 20px;
}

.table {
  background-color: #fff;
}

.external-buttons {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.date-filter,
.search-options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.date-filter input,
.search-options input,
.search-options select {
  margin-left: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ced4da;
  width: 220px;
}

.search-options input {
  width: 300px;
}

.date-filter button,
.search-options button {
  padding: 10px 15px; /* Kích thước nút lớn hơn */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu */
}

.date-filter button:hover,
.search-options button:hover {
  background-color: #0056b3; /* Màu khi hover */
}

.donhang-row {
  border-bottom: 5px solid #ddd;
}

/* Phong to dữ liệu trong bảng */
.table td,
.table th {
  font-size: 18px; /* Thay đổi kích thước font cho các ô dữ liệu và tiêu đề */
  padding: 12px; /* Thêm padding cho các ô để tạo khoảng cách */
}

.text-success {
  color: green;
}

.text-warning {
  color: orange;
}

.btn-warning {
  background-color: #15de16;
  border-color: #15de16;
  color: #ffffff;
}

.btn-danger {
  background-color: red;
  color: #ffffff;
}

/* ------------------------- */

.table th:nth-child(1),
.table th:nth-child(2),
.table th:nth-child(3),
.table th:nth-child(4),
.table th:nth-child(5),
.table th:nth-child(6),
.table th:nth-child(7),
.table th:nth-child(8),
.table th:nth-child(9),
.table th:nth-child(10) {
  background-color: #007bff;
}

.table td:nth-child(5),
.table th:nth-child(5) {
  width: 100px;
}
/* chat */

#accountTable th {
  text-align: center;
  vertical-align: middle;
}

#accountTable td {
  text-align: center;
  vertical-align: middle;
}

#accountTable th:nth-child(1),
#accountTable td:nth-child(1) {
  width: 5%;
}

#accountTable th:nth-child(2),
#accountTable td:nth-child(2) {
  width: 10%;
}

#accountTable th:nth-child(3),
#accountTable td:nth-child(3) {
  width: 15%;
}

#accountTable th:nth-child(4),
#accountTable td:nth-child(4) {
  width: 20%;
}

#accountTable th:nth-child(5),
#accountTable td:nth-child(5) {
  width: 10%;
}

#accountTable th:nth-child(6),
#accountTable td:nth-child(6) {
  width: 10%;
}

#accountTable th:nth-child(7),
#accountTable td:nth-child(7) {
  width: 10%;
}

#accountTable th:nth-child(8),
#accountTable td:nth-child(8) {
  width: 10%;
}

#accountTable th:nth-child(9),
#accountTable td:nth-child(9) {
  width: 15%;
}

#accountTable td button {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 2px 0;
}

#accountTable td button:not(:last-child) {
  margin-bottom: 5px;
}

#accountTable td button.btn-warning {
  background-color: #15de16;
  border-color: #15de16;
  color: #ffffff;
}

#accountTable td button.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}
#accountTable td button.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: #ffffff;
}
