@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #e2c9ff;
    background      : linear-gradient(to right, #e2e2e2, #c9d6ff);
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-direction  : column;
    height          : 100vh;
}



form {
    background-color: #fffdfd;
    border-radius   : 20px;
    width           : fit-content;
    padding         : 20px 40px 20px 40px;
}

#boxUsern {
    background-color          : #eeeeee;
    border                    : none;
    border-top-left-radius    : 8px;
    border-top-right-radius   : 8px;
    border-bottom-left-radius : 8px;
    border-bottom-right-radius: 8px;
    margin                    : 5px 20px 10px 20px;
    padding                   : 2px 0 2px 5px;
    width                     : 300px;
    height                    : 50px;

}

#boxPass {
    background-color          : #eeeeee;
    border                    : none;
    border-top-left-radius    : 8px;
    border-top-right-radius   : 8px;
    border-bottom-left-radius : 8px;
    border-bottom-right-radius: 8px;
    margin                    : 5px 20px 10px 20px;
    padding                   : 2px 0 2px 5px;
    width                     : 300px;
    height                    : 50px;

}